#line {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 3px;
  background: rgb(180,5,120);
}

div.header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 3px;
  height: 60px;
  background:  #F5F5F5;
  border-bottom: 1px solid darkgray;
}

#logo {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 188.8px;
  background: #F5F5F5;
  height: 60px;
  background-image: url(https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg?v=d689de80c4e2);
}

div.menu {
  position: absolute;
  top: 0px;
  width: 3.5%;
  padding: 18px;
  background: #F5F5F5;
  font-size: 17px;
  text-align: left;
}

#questions      { left: 640px; }
#jobs           { left: 730px; }
#documentation  { left: 780px; }
#tags           { left: 910px; }
#users          {left: 960px;}

#zone_of_greeting {
  font-size: 1.2em;
  text-align: center;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f9fbff url(image/pattern_1.svg);
  margin-top: 80px;
  border-bottom: 3px solid #cae8f7;
}

#greeting {
  margin-top: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#slogan {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

#registration {
  margin-top: 40px;
  border: groove;
  border-color: #d0e8f4;
  background-color: #4d9bc1;
  width: 180px;
  height: 28px;
  padding: 6px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#top_questions {
  font-size: 0.8em;
  font-weight: 500;

}

.questions {
  height: 40px;
  margin-top: 5px;
  font-size: 1.4em;
  padding-left: 170px;
  border-bottom: 1.5px solid #eeeeee;

}

#allcontens {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}